.contact-section {
    background-color: var(--bg-light-white);
    padding: 4rem 0;
}

.contact-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.contact-form .form-control {
    height: 3.2rem;
    font-size: 1rem;
    padding: 0.8rem;
    border: 1px solid #ddd;
}

.contact-form .form-label {
    font-weight: 600;
    color: var(--text-dark-gray);
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    font-size: 1.1rem;
    font-weight: 600;
}

.contact-form button:hover {
    background-color: var(--text-danger);
}

.contact-section h2 {
    font-size: 2.8rem;
}

.contact-section img {
    object-fit: cover;
    max-height: 400px;
    border-radius: 10px;
}

.contact-info {
    margin-top: 4rem;
  }
  
  .info-box {
    background-color: var(--bg-white);
    border: 1px solid #ddd;
    transition: all 0.3s ease;
  }
  
  .info-box i {
    font-size: 3rem;
  }
  
  .info-box p {
    margin: 0;
    font-size: 1.1rem;
    color: var(--text-dark-gray);
  }
  
  .info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  